<header>
    <div>
        <p class="title">
            Battleboats
        </p>
    </div>

    <div class="headerOptions">
        <div class="option1">
            <a href="#" (click)="changeCreate()">
                Create Game
            </a>
        </div>
        <div class="option2">
            <a href="#" (click)="changeSelect()">
                Select Game
            </a>
        </div>
        <div class="option3">
            <a href="#">
                Other
            </a>
        </div>
        
    </div>
</header>

