.placeBoats{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px 5px;
    background-color: white;
    margin: 1em;
    padding: 1em;
    border: 1px solid black;
    border-radius: 5px;
    
}

.ship5, .ship4{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.boardDiv{
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    margin: 1em;
}

.playerBoard{
    display: grid;
    grid-gap: 0;
    max-width: 700px;
    justify-content: center;
    margin: 1em auto 3em auto;
    grid-template-columns: repeat(11, 8%);
    grid-template-rows: repeat(11, 7vh);
}

.board{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color:  #002147
}

.red{
    background-color: #808080;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
   