<div class="boardDiv">
    <div class="placeBoats">
        <div class="ship5">
            <mdb-form-control>
                <input mdbInput  class="form-control" id="form1" type="text"/>
                <label mdbLabel class="form-label" for="form1">5 Piece Ship</label>
            </mdb-form-control>
            <mdb-form-control>
                <input mdbInput  class="form-control" id="form1" type="text"/>
                <label mdbLabel class="form-label" for="form1">5 Piece Ship</label>
            </mdb-form-control>
            <mdb-form-control>
                <input mdbInput  class="form-control" id="form1" type="text"/>
                <label mdbLabel class="form-label" for="form1">5 Piece Ship</label>
            </mdb-form-control>
            <mdb-form-control>
                <input mdbInput  class="form-control" id="form1" type="text"/>
                <label mdbLabel class="form-label" for="form1">5 Piece Ship</label>
            </mdb-form-control>
            <mdb-form-control>
                <input mdbInput  class="form-control" id="form1" type="text"/>
                <label mdbLabel class="form-label" for="form1">5 Piece Ship</label>
            </mdb-form-control>
        </div>
        <div class="ship4">
            <mdb-form-control>
                <input mdbInput  class="form-control" id="form1" type="text"/>
                <label mdbLabel class="form-label" for="form1">4 Piece Ship: Ship space (i.e. A1)</label>
            </mdb-form-control>
            <mdb-form-control>
                <input mdbInput  class="form-control" id="form1" type="text"/>
                <label mdbLabel class="form-label" for="form1">4 Piece Ship</label>
            </mdb-form-control>
            <mdb-form-control>
                <input mdbInput  class="form-control" id="form1" type="text"/>
                <label mdbLabel class="form-label" for="form1">4 Piece Ship</label>
            </mdb-form-control>
            <mdb-form-control>
                <input mdbInput  class="form-control" id="form1" type="text"/>
                <label mdbLabel class="form-label" for="form1">4 Piece Ship</label>
            </mdb-form-control>
        </div>
    </div>
<div class="playerBoard">
    <div class="board"></div>
    <div class="board">1</div>
    <div class="board">2</div>
    <div class="board">3</div>
    <div class="board">4</div>
    <div class="board">5</div>
    <div class="board">6</div>
    <div class="board">7</div>
    <div class="board">8</div>
    <div class="board">9</div>
    <div class="board">10</div>

    <div class="board">A</div>
    <div class="board a1">a1</div>
    <div class="board a2">a2</div>
    <div class="board a3">a3</div>
    <div class="board a4">a4</div>
    <div class="board a5">a5</div>
    <div class="board a6">a6</div>
    <div class="board a7">a7</div>
    <div class="board a8">a8</div>
    <div class="board a9">a9</div>
    <div class="board a10">a10</div>

    <div class="board ">B</div>
    <div class="board b1">b1</div>
    <div class="board b2">b2</div>
    <div class="board b3">b3</div>
    <div class="board b4">b4</div>
    <div class="board b5">b5</div>
    <div class="board b6">b6</div>
    <div class="board b7">b7</div>
    <div class="board b8">b8</div>
    <div class="board b9">b9</div>
    <div class="board b10">b10</div>

    <div class="board">C</div>
    <div class="board c1">c1</div>
    <div class="board c2">c2</div>
    <div class="board c3">c3</div>
    <div class="board c4">c4</div>
    <div class="board c5">c5</div>
    <div class="board c6">c6</div>
    <div class="board c7">c7</div>
    <div class="board c8">c8</div>
    <div class="board c9">c9</div>
    <div class="board 10">c10</div>

    <div class="board">D</div>
    <div class="board">d1</div>
    <div class="board">d2</div>
    <div class="board">d3</div>
    <div class="board">d4</div>
    <div class="board">d5</div>
    <div class="board">d6</div>
    <div class="board">d7</div>
    <div class="board">d8</div>
    <div class="board">d9</div>
    <div class="board">d10</div>

    <div class="board">E</div>
    <div class="board">e1</div>
    <div class="board">e2</div>
    <div class="board">e3</div>
    <div class="board">e4</div>
    <div class="board">e5</div>
    <div class="board">e6</div>
    <div class="board">e7</div>
    <div class="board">e8</div>
    <div class="board">e9</div>
    <div class="board">e10</div>

    <div class="board">F</div>
    <div class="board">f1</div>
    <div class="board">f2</div>
    <div class="board">f3</div>
    <div class="board">f4</div>
    <div class="board">f5</div>
    <div class="board">f6</div>
    <div class="board">f7</div>
    <div class="board">f8</div>
    <div class="board">f9</div>
    <div class="board">f10</div>

    <div class="board">G</div>
    <div class="board">g1</div>
    <div class="board">g2</div>
    <div class="board">g3</div>
    <div class="board">g4</div>
    <div class="board">g5</div>
    <div class="board">g6</div>
    <div class="board">g7</div>
    <div class="board">g8</div>
    <div class="board">g9</div>
    <div class="board">g10</div>

    <div class="board">H</div>
    <div class="board">h1</div>
    <div class="board">h2</div>
    <div class="board">h3</div>
    <div class="board">h4</div>
    <div class="board">h5</div>
    <div class="board">h6</div>
    <div class="board">h7</div>
    <div class="board">h8</div>
    <div class="board">h9</div>
    <div class="board">h10</div>

    <div class="board">I</div>
    <div class="board">i1</div>
    <div class="board">i2</div>
    <div class="board">i3</div>
    <div class="board">i4</div>
    <div class="board">i5</div>
    <div class="board">i6</div>
    <div class="board">i7</div>
    <div class="board">i8</div>
    <div class="board">i9</div>
    <div class="board">i10</div>

    <div class="board">J</div>
    <div class="board">j1</div>
    <div class="board">j2</div>
    <div class="board">j3</div>
    <div class="board">j4</div>
    <div class="board">j5</div>
    <div class="board">j6</div>
    <div class="board">j7</div>
    <div class="board">j8</div>
    <div class="board">j9</div>
    <div class="board">j10</div>
</div>
</div>
