<div class="createDiv">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Select Game</th>
        <th scope="col">Game Name</th>
        <th class="hide" scope="col">Player 1</th>
        <th class="hide" scope="col">Player 2</th>
        <th scope="col">Delete Game</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let game of games">
        <td><button type="button" class="btn btn-success btn-rounded btn-sm" (click)="select(game.id)">Select Game</button></td>
        <td>{{game.game_name}}</td>
        <td class="hide" >{{game.username1}}</td>
        <td class="hide" >{{game.username2}}</td>
        <td><button type="button" class="btn btn-danger btn-rounded btn-sm" (click)="delete(game.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>

</div>

