<div class="createDiv">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Game Name</th>
        <th scope="col">Player 1</th>
        <th scope="col">Player 2</th>
        <th scope="col">Delete Game</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let game of games">
        <td>{{game.game_name}}</td>
        <td>{{game.username1}}</td>
        <td>{{game.username2}}</td>
        <td><button type="button" class="btn btn-danger btn-rounded btn-sm" (click)="delete(game.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>

</div>

