<div class="createDiv">
    <div>
        <p>New: Create a game below. Otherwise click "Select Game" to play an existing game.</p>
    </div>
    <div class="input">
        <mdb-form-control>
            <input mdbInput  class="form-control" id="form1" type="text" [(ngModel)]="datagame_name" />
            <label mdbLabel class="form-label" for="form1">Game Name</label>
        </mdb-form-control>
    </div>
    <div class="input">
        <mdb-form-control>
            <input  mdbInput  class="form-control" id="form2" type="text" [(ngModel)]="datausername1"/>
            <label mdbLabel class="form-label" for="form2">Username1</label>
        </mdb-form-control>
    </div>
    <div class="input">
        <mdb-form-control>
            <input mdbInput class="form-control" id="form3" type="text" [(ngModel)]="datausername2"/>
            <label mdbLabel class="form-label" for="form3">Username2</label>
        </mdb-form-control>
    </div>
    <div class="input button">
        <button type="button" class="btn btn-primary" (click)="addNewGame()">Submit</button>
    </div>
       
    
    
</div>
