<div style="text-align:center" class="body">
  <!-- header -->
  <app-header (createState)="toggleCreate()" (selectState)="toggleSelect()"></app-header>
  <!-- create game source: https://www.youtube.com/watch?v=hxMW4b3fLyk -->
  <app-create  (newGameEvent)="createGame($event)" *ngIf="showCreate" ></app-create>
  <!-- select game -->
  <app-select [games]="games" *ngIf="showSelect" (deleteEvent)="deleteGame($event)" (selectedGame)="selectGame($event)"></app-select>
  <app-player1 [currentGame]="currentGame" (newCurrentGame)="setCurrentGame($event)"></app-player1>
  <!-- p1 playing game -->
  <app-p1game [currentGame]="currentGame"></app-p1game>
  <!-- p2 playing game -->
</div>